td:nth-child(odd) {
    width: 80px;
    height: 80px;
    background: orangered;
    border: 7px solid white;
}

td:nth-child(odd) div {
    width: 30px;
    height: 30px;
    background: orangered;
    margin: auto;
    border: 22px solid limegreen;
}

td:nth-child(even) {
    width: 80px;
    height: 80px;
    background: limegreen;
    border: 7px solid white;
}

td:nth-child(even) div{
    width: 30px;
    height: 30px;
    background: limegreen;
    margin: auto;
    border: 22px solid orangered;
}
