div{
    width: 30px;
    height: 30px;
    margin: auto;
}

td {
    width: 80px;
    height: 80px;
    border: 7px solid white;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
    background: orangered;
}

tr:nth-child(odd) td:nth-child(odd) div, tr:nth-child(even) td:nth-child(even) div {
    background: orangered;
    border: 22px solid limegreen;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: limegreen;
}

tr:nth-child(odd) td:nth-child(even) div, tr:nth-child(even) td:nth-child(odd) div{
    background: limegreen;
    border: 22px solid orangered;
}
